@use "../../foundation/common" as c;

.p-archive{
    &-mv{
        background-color: black;
        position: relative;
        &__mv{
            opacity: .4;
            height: 283px;
            object-position: 0% 50%;
            @include c.responsive(screen03){
                height: 239px;
                object-position: center center;
            }
        }

        &__contents{
            position: absolute;
            top: 100px;
            left: 40px;
            @include c.responsive(screen02){
                display: flex ;
                align-items: center ;
            }
        }
    }
    &-subheading{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }

    &-card{
        margin-top: 20px;
        @include c.responsive(screen02){
            display: flex;
        }
        &__img{
            @include c.responsive(screen02){
                width: 50%;
                height: auto;
            }
        }
        &__contents{
            margin-top: -1px;
            padding: 20px;
            @include c.responsive(screen02){
                margin-top: 0;
                width: 50%;
                padding: 2% 0% 2% 3% ;
            }
        }
        &__button{
            display: flex;
            justify-content: center;
            margin: 40px 0 30px;
        }
        
        
    }
    &-pagenation-sp{
        position: relative;
        top: 40px;
        padding-top: 20px;
        @include c.responsive(screen02){
            display: none;
        }
    }
    &-pagenation01{
        display: flex;
        justify-content: space-between;
        &-before__text{
            position: relative;
            left: 30px;
            &::before{
                position: absolute;
                top: 5px;
                left: -15px;
                content: "";
                border-top: solid #707070 0.8px;
                border-left: solid #707070 0.8px;
                width: 15px;
                height: 15px;
                transform: rotate(-45deg);
            }
            &::after{
                position: absolute;
                top: 5px;
                left: -25px;
                content: "";
                border-top: solid #707070 0.8px;
                border-left: solid #707070 0.8px;
                width: 15px;
                height: 15px;
                transform: rotate(-45deg);
            }
        }
        &-after__text{
            position: relative;
            right: 30px;
            &::before{
                position: absolute;
                top: 5px;
                right: -15px;
                content: "";
                border-top: solid #707070 0.8px;
                border-left: solid #707070 0.8px;
                width: 15px;
                height: 15px;
                transform: rotate(135deg);
            }
            &::after{
                position: absolute;
                top: 5px;
                right: -25px;
                content: "";
                border-top: solid #707070 0.8px;
                border-left: solid #707070 0.8px;
                width: 15px;
                height: 15px;
                transform: rotate(135deg);
            }
        }
    }
        

    
    &-pagenation-tab{
        display: none;
        @include c.responsive(screen02){
            display: block;
            margin-top: 120px;

        }
    }
    &-pagenation02{
        display: flex;
        align-items: center;
        justify-content: center;
        &__text{
            color: #707070;
            margin-bottom: 0;
            margin-right: 40px;
        }
        &__list{
            display: flex;
            padding: 0;
            margin: 0;
            & li:first-child{
                position: relative;
                & > a {
                    background-color: #000;
                    color: #FFF;
                }
                &::before{
                    position: absolute;
                    top: 5px;
                    left: -15px;
                    content: "";
                    border-top: solid #707070 0.8px;
                    border-left: solid #707070 0.8px;
                    width: 15px;
                    height: 15px;
                    transform: rotate(-45deg);
                }
                &::after{
                    position: absolute;
                    top: 5px;
                    left: -25px;
                    content: "";
                    border-top: solid #707070 0.8px;
                    border-left: solid #707070 0.8px;
                    width: 15px;
                    height: 15px;
                    transform: rotate(-45deg);
                }
            }
            & li:last-child{
                position: relative;
                &::before{
                    position: absolute;
                    top: 5px;
                    right: -15px;
                    content: "";
                    border-top: solid #707070 0.8px;
                    border-left: solid #707070 0.8px;
                    width: 15px;
                    height: 15px;
                    transform: rotate(135deg);
                }
                &::after{
                    position: absolute;
                    top: 5px;
                    right: -25px;
                    content: "";
                    border-top: solid #707070 0.8px;
                    border-left: solid #707070 0.8px;
                    width: 15px;
                    height: 15px;
                    transform: rotate(135deg);
                }
            }
        }
        &__item{
            padding: 5px 10px 5px  ;
            border: solid 1px #707070;
            width: 100%;
            box-sizing: border-box;
            text-align: center;
            margin: 0 5px 0;
            line-height: 0;
        
        }

    }
}
    